<div class="container">
  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="container-busca">
    <h2>Buscar Unidades</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarTiposProduto()">
      <input nz-input type="number" placeholder="Número" formControlName="id" />
      <input nz-input placeholder="Nome" formControlName="nome" />
      <nz-select
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Selecione o Tipo de Empresa"
        formControlName="empresa"
        nzStyle="width: 100%;"
      >
        <nz-option
          *ngFor="let empresa of empresas"
          [nzValue]="empresa.id"
          [nzLabel]="empresa.nome"
        ></nz-option>
      </nz-select>
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>
  <h2>Lista de Unidades</h2>
  <nz-table
    #tabelaPrincipal
    class="tabela-padrao"
    [nzData]="empresas"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">telefone</th>
        <th scope="col">Empresa</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidade of unidades">
        <td>{{ unidade.id }}</td>
        <td>{{ unidade.nome }}</td>
        <td>{{ unidade.telefone }}</td>
        <td>{{ unidade.empresa.nome }}</td>
        <td>
          <a [routerLink]="['/unidades/update', unidade.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar Status"
            ></i>
          </a>
          <a [routerLink]="['/unidades/delete', unidade.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar Tipo"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
