<div class="container">
  <h1>Formas de Pagamento</h1>

  <nz-alert
    *ngIf="
      (alertaService.tipoAlerta$ | async) &&
      (alertaService.mensagemAlerta$ | async)
    "
    [nzType]="(alertaService.tipoAlerta$ | async) || 'info'"
    [nzMessage]="alertaService.mensagemAlerta$ | async"
    nzShowIcon
    nzCloseable
    (nzOnClose)="alertaService.limparAlerta()"
  ></nz-alert>

  <div class="container-busca">
    <h2>Buscar Forma de Pagamento</h2>
    <form [formGroup]="filtroForm" (ngSubmit)="buscarStatus()">
      <input nz-input type="number" placeholder="Número" formControlName="id" />
      <input nz-input placeholder="Nome" formControlName="nome" />
      <input nz-input placeholder="Descrição" formControlName="descricao" />
      <input nz-input placeholder="Porcentagem Acrescimo" formControlName="porcentagemAcrescimo" />
      <button [nzLoading]="carregando" nz-button nzType="primary" type="submit">
        <i nz-icon nzType="search"></i> Buscar
      </button>
    </form>
  </div>
  <h2>Lista de Forma de Pagamento</h2>
  <nz-table
    #tabelaPrincipal
    class="tabela-padrao"
    [nzData]="formasDePagamento"
    [nzPageSize]="itensPorPagina"
    [nzFrontPagination]="false"
    [nzPageIndex]="paginaAtual"
    [nzLoading]="carregando"
    [nzBordered]="true"
    [nzTotal]="totalElementos"
    (nzPageIndexChange)="aoMudarPagina($event)"
  >
    <thead>
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Porcentagem Acrescimo </th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forma of formasDePagamento">
        <td>{{ forma.id }}</td>
        <td>{{ forma.nome }}</td>
        <td>{{ forma.descricao }}</td>
        <td>{{ forma.porcentagemAcrescimo }} %</td>
        <td>
          <a [routerLink]="['/pagamentos/update', forma.id]">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              title="Atualizar Forma de Pagamento"
            ></i>
          </a>
          <a [routerLink]="['/pagamentos/delete', forma.id]">
            <i
              nz-icon
              nzType="delete"
              nzTheme="outline"
              title="Deletar Forma de Pagamento"
            ></i>
          </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

